:root{
    --background-color:#fff;
    --text-color:#000;
    --title-color:#000;
}
.dark-theme{
    --background-color:#000;
    --text-color:#fff;
    --title-color:#fff;
}

#header {
    background-color: var(--background-color);
    transition: all 500ms ease-out;
    color:var(--text-color);
 

}
#icon{
   
   cursor: pointer;
   width: 30px;
} 
#add{
    border: none;
    align-items: center;
    justify-content: center;
    
}

input[type="radio"] {
    height: 20px;
    width: 20px;
}

#blue {
    background-color: #4E6E81;
}

#pale {
    background-color: #B4E4FF;
}

#green {
    background-color: #40826D;
}

#maroon {
    background-color: #A7727D;
}


fieldset {
    overflow: hidden;
    position: relative;
}
