*{
  font-size: 1vw;
  box-sizing: border-box;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}
:root{
    --background-color:#E8F1F5;
    --text-color:#181823;
    --title-color:#181823;
}
.dark-theme{
    --background-color:#181823;
    --text-color:#E8F1F5;
    --title-color:#E8F1F5;
}
 section{
  height:80vh;
} 
#header {
    background-color: var(--background-color);
    transition: all 500ms ease-out;
    color:var(--text-color);
}
#icon{
   
   cursor: pointer;
   width: 30px;
} 
#add , #download-btn , #delete-all{
    border: none;
    background-color: #40826D !important;
}
ul{
    list-style:none;
    color:  #40826D;
    padding: 0;
    width: 100%;
    height: auto;
}

li{
    padding: 10px;
    float: left;
    background-color: #40826D;
    width: 100%;
    height: auto;
    margin: auto;
}
i{
    float: right;
    color: #E8F1F5;
    gap: 6px;
}
.check {
    width: 0.8em;
    height: 0.8em;
    cursor: pointer;
    border-radius: 50%;
    background-color: #E8F1F5;
    border: 1px solid #E8F1F5;
    appearance: none;
  }
  .check:checked + .task {
    color: rgb(255, 82, 82);

    text-decoration: line-through;
  }
  i:hover {
    color: rgb(255, 82, 82);
  }
  .completed{
    color: rgb(255, 82, 82);
    text-decoration: line-through;
  }
  .task{
    width: fit-content;
    height: auto;
    padding: 5px;
    margin: auto;
  }

 @media print{
  body*:not(#mytodo):not(#mytodo *){
    visibility: hidden;
  }
  #mytodo{
    position: absolute;
    top:0;
    left:0;
  }
 }

 p{
  color: transparent;
 }
 input[type=text]{
  border: 1px solid #40826D ;
}